{% extends "admin/change_form.html" %}
{% load static %}


{% block admin_change_form_document_ready %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'main/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'broker/js/rule_actions.js' %}"></script>
    <script type="text/javascript" src="{% static 'broker/js/rule_form.js' %}"></script>

    {% if original %}
    <script>
        Rule.init({{original.source_id}}, {{original.destination_id}}, "{{original.signal}}", "{{original.callback}}");
    </script>
    {% endif %}
{% endblock %}